/* NAVIGATIOM */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 9px;
    padding-bottom: 8px;
}

/*HOME SECTION*/
#home{
    height: 420px;
    padding: 4px 38px;
}
#home::before{
    height: 550px;
}
#home p{
    font-size: 1.2rem;
}



/* SERVICES SECTITON */
#services{
    flex-direction: column;

}
#services .box{
    padding: 0;
    margin: 1px 0px;
    margin-bottom: 7px;
}

/* CLIENT SECTION */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 76px;
    padding: 2px 8px;
    height: auto;
}


/*CONTACT  SECTION*/
#contact-box form{
    width: 80%;
}


/*FOOTER SECTION*/

/* UTILITY CLASSES */
.h-primary{
    font-size: 26px;
}
/*BUTTON*/
.btn{
    font-size: 15px;
    padding: 5px 9px;
}